@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}


@layer base {
  :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 87 49% 50%;
        --primary-foreground: 0 0% 98%;
        --secondary: 80 30% 95%;
        --secondary-foreground: 0 0% 9%;
        --muted: 80 30% 96%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 80 30% 96%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 80 20% 89%;
        --input: 80 20% 89%;
        --ring: 87 49% 50%;
        --chart-1: 87 49% 50%;
        --chart-2: 143 58% 22%;
        --chart-3: 80 30% 70%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
    }
  .dark {
        --background: 143 50% 6%;
        --foreground: 0 0% 98%;
        --card: 143 50% 6%;
        --card-foreground: 0 0% 98%;
        --popover: 143 50% 6%;
        --popover-foreground: 0 0% 98%;
        --primary: 87 49% 50%;
        --primary-foreground: 0 0% 9%;
        --secondary: 143 30% 14%;
        --secondary-foreground: 0 0% 98%;
        --muted: 143 30% 14%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 143 30% 14%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 143 30% 14%;
        --input: 143 30% 14%;
        --ring: 87 49% 50%;
        --chart-1: 87 49% 50%;
        --chart-2: 143 58% 22%;
        --chart-3: 80 30% 70%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}
